body{
    font-family: Arial, sans-serif;
    text-align:center;
    background:#f4f4f4;
}

.product{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
}

button{
    background:blue;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
}